causal_env/
venv/
env/
.env
.venv

data/processed/*
*.csv
*.joblib
*.pkl

pycache/
*.py[cod]
*$py.class

*.so

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.coverage
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

*.log
logs/

.vscode/
.idea/
.DS_Store
Thumbs.db